* {
    font-family: "Bruno-Ace";
}

.cont-carga {
    position: relative;
    width: 55%;
    height: 95vh;
    margin: auto;
}

.imgcarga {
    width: 100%;
    height: 100%;
}

#pixel {      
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 27em;
}

.pixelart {
    width: 20%;
    justify-content: center;
    align-items: center;
}