* {
    font-family: "Bruno Ace";
}


p {
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}


.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #010111 0%, #060116 100%);
    background-image: url(../media/img/galaxiafondo.png);
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.stars::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out;


    box-shadow:
        5vw 10vh white, 12vw 8vh white, 17vw 4vh white, 23vw 9vh white, 30vw 6vh white,
        38vw 11vh white, 45vw 7vh white, 52vw 5vh white, 60vw 9vh white, 68vw 4vh white,
        77vw 8vh white, 84vw 6vh white, 91vw 10vh white, 97vw 5vh white,


        3vw 20vh white, 11vw 18vh white, 18vw 22vh white, 27vw 19vh white, 35vw 16vh white,
        43vw 23vh white, 51vw 18vh white, 59vw 21vh white, 66vw 17vh white, 74vw 24vh white,
        82vw 18vh white, 90vw 22vh white, 95vw 19vh white,


        6vw 30vh white, 14vw 33vh white, 22vw 28vh white, 31vw 35vh white, 39vw 32vh white,
        48vw 29vh white, 55vw 34vh white, 63vw 31vh white, 70vw 36vh white, 78vw 33vh white,
        87vw 30vh white, 94vw 34vh white,


        4vw 42vh white, 13vw 46vh white, 20vw 40vh white, 29vw 45vh white, 37vw 41vh white,
        44vw 47vh white, 52vw 43vh white, 61vw 46vh white, 69vw 41vh white, 77vw 48vh white,
        85vw 44vh white, 92vw 47vh white,


        7vw 55vh white, 16vw 52vh white, 24vw 58vh white, 32vw 54vh white, 40vw 59vh white,
        49vw 57vh white, 56vw 53vh white, 64vw 60vh white, 72vw 56vh white, 81vw 59vh white,
        89vw 55vh white, 96vw 58vh white,


        5vw 66vh white, 12vw 69vh white, 19vw 63vh white, 27vw 68vh white, 36vw 65vh white,
        43vw 70vh white, 51vw 66vh white, 58vw 69vh white, 67vw 64vh white, 76vw 71vh white,
        84vw 67vh white, 93vw 70vh white,


        8vw 78vh white, 15vw 75vh white, 23vw 82vh white, 31vw 77vh white, 38vw 79vh white,
        47vw 83vh white, 53vw 76vh white, 62vw 81vh white, 70vw 78vh white, 79vw 82vh white,
        87vw 76vh white, 95vw 80vh white,


        6vw 89vh white, 14vw 93vh white, 22vw 86vh white, 29vw 91vh white, 37vw 94vh white,
        46vw 88vh white, 54vw 92vh white, 61vw 89vh white, 69vw 95vh white, 78vw 91vh white,
        86vw 87vh white, 94vw 93vh white;
}


.stars::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    animation: twinkle 2.4s infinite ease-in-out;


    box-shadow:
        10vw 12vh white, 28vw 9vh white, 44vw 14vh white, 61vw 11vh white, 79vw 13vh white,
        92vw 9vh white,


        8vw 25vh white, 22vw 27vh white, 37vw 23vh white, 55vw 28vh white, 73vw 26vh white,
        90vw 24vh white,


        12vw 38vh white, 29vw 35vh white, 47vw 39vh white, 63vw 34vh white, 80vw 36vh white,
        94vw 33vh white,


        6vw 50vh white, 21vw 53vh white, 38vw 49vh white, 57vw 54vh white, 75vw 52vh white,
        89vw 50vh white,


        9vw 63vh white, 25vw 60vh white, 42vw 65vh white, 60vw 62vh white, 76vw 66vh white,
        93vw 61vh white,


        11vw 75vh white, 27vw 72vh white, 45vw 78vh white, 64vw 73vh white, 82vw 76vh white,
        96vw 71vh white,


        13vw 88vh white, 30vw 85vh white, 48vw 90vh white, 66vw 87vh white, 84vw 92vh white,
        97vw 88vh white;
}


@keyframes twinkle {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 1; }
}
.cont-carga {
    position: relative;
    width: 55%;
    height: 95vh;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-image:url('../media/img/cargaimg.svg'); */
}


/* #carga {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#carga.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease; /* DESAPARECE RÁPIDO ANTES QUE EL FLASH */
}

.imgcarga {
    width: 85%;
    /* height: 100%; */
}


#pixel {      
    top: 31%;
    /* left: 50%; */
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15%;
    position:absolute;
    width:85%;
    margin: 0.5em 0;
}


.pixelart {
    width: 15%;
    align-items: center;
}

/* Animación cohete */

#cohete {
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-16px); }
    100% { transform: translateY(0px); }
}

#travel {
    justify-content: center;
    align-items: center;
    display: flex;
    position:absolute;
    width:85%;
    top: 57%;
    flex-direction: column;
}


.t-1 {
    color: #282e69;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Animación de puntos suspensivos */

.dots::after {
    content: '';
    display: inline-block;
    width: 3em;
    text-align: left;
    animation: puntos 2.5s steps(4, end) infinite;
    letter-spacing: 0.15em;
    margin-left: 0.2em;
}

@keyframes puntos {
    0%  { content: ''; }
    20%  { content: '.'; }
    35%  { content: '..'; }
    50%  { content: '...'; }
    65%  { content: '..'; }
    80%  { content: '.'; }
    100%  { content: ''; }

}


#barra {
    border-radius: 0.3em;
    border: #282e69 3.5px solid;
    width:85%;
    height: 1.5em;
    margin-top: 7%;
    display: flex;
    align-items: center;
}


#barra-carga {
    border-radius: 0.1em;
    background-color: #282e69;
    width:80%;
    height: 1.3em;
    margin:0 0.1em;
}

/* --- Barra de carga simple --- */
#barra-carga {
    width: 0%;
    transition: width 2.2s ease-out;
}

/* --- Alarma encima del loading sin ocultarlo --- */
#p-alarma {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
}

#alarma-icon {
    width: 100%;
    z-index: 10;
}

/* Fondo rojo para el parpadeo */
#flash {
    position: fixed;
    inset: 0;
    background: rgb(118, 13, 13);
    opacity: 0;
    z-index: 5;
}

@keyframes flashAlarma {
    0%   { opacity: 0; }
    20%  { opacity: 0.3; }
    30%  { opacity: 0; }

    45%  { opacity: 0.6; }
    55%  { opacity: 0; }

    70%  { opacity: 1; }
    80%  { opacity: 1; }

    /* ÚLTIMO PARPADEO: se mantiene fuerte un momento */
    90%  { opacity: 0; }
    95%  { opacity: 0; }

    /* Fade-out más largo y suave */
    100% { opacity: 2; }
}

/* Activación */
.flash-activo {
    animation: flashAlarma 5.5s ease forwards; /* antes 2.5s */
}

/* Fade general para icono y pantalla */
.fade-out {
    opacity: 0.2 !important;
    transition: opacity 100s ease;  /* puedes ampliar si quieres más suavidad */
}

#final {
    display: none; /* hay que recordar que lo para que se oculte al principo */
    opacity: 0;
}

#contenedor {
    flex-direction: column;
    gap: 2.5em;
}

.mars {
    width: 14em;
    justify-content: center;
    align-items: center;
    animation: flicker 3.5s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { 
    opacity: 1;
  }
  20%, 22%, 24%, 55% { 
    opacity: 0.1;
  }
}

.main {
    width: 14em;
    justify-content: center;
    align-items: center;
    display: inline-block;
    animation: float 10s ease-in-out infinite;
}

/* Desfasamos la animación de cada imagen para que no coincidan */
.main:nth-child(1) { animation-delay: 0s; }
.main:nth-child(2) { animation-delay: 0.6s; }
.main:nth-child(3) { animation-delay: 1.5s; }
.main:nth-child(4) { animation-delay: 0.7s; }

/* Animación flotante más orgánica */
@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(5px, -8px) rotate(-2deg);
  }
  25% {
    transform: translate(-7px, 10px) rotate(1deg);
  }
  40% {
    transform: translate(10px, -5px) rotate(-1deg);
  }
  55% {
    transform: translate(-5px, 7px) rotate(2deg);
  }
  70% {
    transform: translate(8px, -10px) rotate(-2deg);
  }
  85% {
    transform: translate(-10px, 5px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.texto {
    color: rgb(226, 226, 226);
    font-family: "Bruno Ace";
    display: flex;
    font-size: 12em;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.5em;
}

#mensaje {
    font-size: 0.9em;
    gap: 0.5em;
}

.color {
  color: rgb(226, 226, 226);
}

.boton {
    font-family: "Bruno Ace";
    display: flex;
    font-size: 1.3em;
    border-radius: 2em;
    padding: 0.4em 1.4em;
    animation: neon-pulse 1.5s infinite alternate;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

@keyframes neon-pulse {
    0% {
        box-shadow: 0 0 5px rgb(162, 43, 43), 0 0 10px rgb(162, 43, 43), 0 0 20px rgba(162, 43, 43, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgb(162, 43, 43), 0 0 20px rgb(162, 43, 43), 0 0 30px rgb(162, 43, 43), 0 0 40px rgba(162, 43, 43, 0.6);
    }   
}

button {
    background-color: rgb(118, 13, 13);
    border-width: 0;
}


/* media queries para móvil */


/* media queries para tablet */
